{% extends 'blogapp/index.html' %}

{% block comentarios %}
{% if errores %}
<p style="color: red"> {{errores}} </p>
{% endif %}
<div class="container px-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 rounded-3 shadow-lg">
                <div class="card-body p-4; text-center">
                    <div class="text-center">
                        <div class="h1 fw-light" style="color: rgb(63, 63, 252);">Comentarios</div>
                        <p style="color: rgb(237, 99, 99);" class="mb-4 text-muted">inquietudes y sujerencias para ayudar a la comunidad</p>
                    </div>
                    {% if listcomen %}
    
                    {% for comen in listcomen %}
                        <div class="col-md-3 mb-2">
                            <div style="border-radius: 0.4em;
                                        box-shadow: 0.3em 0.3em 0.7em #00000015;
                                        transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                        border: rgb(66, 78, 246) 0.2em solid;" class="card h-100">
                            <li>{{comen.contenido}}</li>
                            </div>
                        </div>    
                    {% endfor %}
                
                    {% else %}
                    <p>No hay comentarios de momento</p>
                    {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block contenido %}
{% if request.user.is_authenticated %}
                            
<form action="{% url 'home' %}" method="post" >

    {% csrf_token %}
                    
    {{ form_comentarios.as_p }}
    
    <div class="card-footer">
        <input class="btn btn-primary btn-sm" type="submit" value="Comentar">
    </div>

</form>
{% else %}

<form method="post" >

    {% csrf_token %}
                    
    {{ form_comentarios.as_p }}
    
    <div style="background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);" class="card-footer">
        <p class="mb-4 text-muted">Recuerda que debes inicar sesion para dejar un comentario</p>
        <a class="btn btn-primary disabled" href="#!">Comentar</a>

</form>
{% endif %}



{% endblock %}