
{% extends 'blogapp/base.html' %}

{% load static %}

{% block contenido %}

<style>
  .contenedor {display: flex;margin-top: 100px;background-color: black;padding: 25px;color: white;}
  .texto5 { padding-left: 25px;font-size: large;}
</style>

<h1 style="font-family: 'Zen Dots', cursive; color: rgb(66, 78, 246);" >Acerca de Nosotros</h1>

<div class=contenedor>
  <p class=texto5>
    Mi nombre es Juan Carlos Nieto tengo 23 años, soy tecnico en mecatronica y actualmente trabajo como tecnico electronico abocado en la instrumentacion y control de procesos, 
    me gusta la impresion 3D y el diseño en 3D, a partir de este gusto empeze a ver la programacion y tuve mi primera experiencia con Java, pero no me gusto, para luego 
    seguir con la programacion en arduino, esta me resulto muy interesante y fui aprendiendo de su programacion como de la electronica asociada, luego comence a ver lo que se 
    venia a futuro y me intereso Python y como practica decidi tomar un curso  en CoderHouse, actualmente estoy terminado el curso con este proyecto de blog desarrolado con Python en Django. 

  </p>

</div>

<div class=contenedor>
 


  <p class=texto5>Mi nombre es Francisco Gonzalez, tengo 23 años y soy de Uruguay. Siempre me gusto el arte en general pero me fui dando cuenta que lo que mas me gustaba era la musica,
     entonces deje mi ciudad natal y me fui a la capital Montevideo a estudiar en la Escuela Universitaria de Musica. Despues de terminar una etapa en la Universidad volvi a mi ciudad
     Young, en el departamento de Rio Negro y ahi me dedique a dar clases personalizadas e individuales ademas de dar clases en una escuela de musica. Suspendi la carrera en la facultad
     por motivos personales y el año pasado quise probar algo distinto y me meti en la programacion, hice Desarrollo FrontEnd en CoderHouse durante ese año, trabajamos desarrollo web, 
     javascript y rescts. Este año 2022 continue dando clases y en junio/julio tuve una oportunidad laboral como programador junior, que no supe aprovechar ya que no sabia Python ni 
     MySQL, entonces tome la decidion de comenzar con Python. Actualmente aspiro a comenzar la carrera de Analista en TI en la Universidad ORT en la capital, por lo tanto pensaba volver
      a vivir en la capital para poder meterme mas en este mundo y seguir aprendiendo, ya realice la inscripcion a la carrera y comienza el 13/03 .

  </p> 
</div>

<div class=contenedor>
  


  <p class=texto5>Mi nombre es Diego Ibarra,</p>

</div>

{% endblock %}