{% extends 'blogapp/base_sin_footer.html' %}

{% block logout %}

<div class="container px-5 my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 rounded-3 shadow-lg">
                <div class="card-body p-4; text-center">
                    <div class="text-center">
                        <div class="h1 fw-light" style="color: rgb(0, 0, 0);">Has cerrado sesion</div>
                        <p class="mb-4 text-muted; h4 fw-light">gracias por usar</p>
                        <h3 style="font-family: 'Zen Dots', cursive; color: rgb(66, 78, 246);">ANIMADOPT</h3>
                        <h5 class="mb-4 text-muted; h4 fw-light">esperamos que vuelvas pronto!</h5>

                        <div class="card-footer">
                            <a style="color: rgb(62, 62, 255)" href=" {% url 'home' %} ">HOME</a>
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}