
{% extends 'blogapp/base.html' %}

{% block contenido %}

<!-- Page Content -->
<div class="container">

<!-- Page Heading -->
      
    <h1 style="color: whitesmoke;" class="fancy"> Ayudanos a encontrarle un hogar </h1>
    <style>.fancy { font-family: fantasy; margin-top: 7%; }</style>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img style="max-height: 900px;" class="img-fluid" src=" {{mascotas.imagen.url}} " alt="">
        </a>
      </div>
      <div class="col-md-5">
        
        <h1 style="color: white; margin-top: 50px;">{{mascotas.nombre}}</h1>
        <ul>
            <li style="color: rgb(255, 224, 145);" >
              <p style="color: white;">Animal: {{mascotas.animal}}</p>
            </li>
            <li style="color: rgb(255, 224, 145);" >
                <p style="color: white;">Raza: {{mascotas.raza}}</p>
            </li>
            <li style="color: rgb(255, 224, 145);" >
                <p style="color: white;">Edad: {{mascotas.edad}}</p>
            </li>
            <li style="color: rgb(255, 224, 145);">
                <p style="color: white;">Color: {{mascotas.color}}</p>
            </li>
        </ul>
        <p style="color: white;">Aca podria ir informacion adiccional por ejemplo, en que condiciones se encuentra el animal o por que razones la persona lo esta dando en adopcion, si aparecio abandonado en algun lado, etc..</p>
        {% if request.user.is_authenticated%}
        <a class="btn btn-primary" href="{% url 'adoptar' mascotas.id %}">Adoptar a {{mascotas.nombre}} </a>
        {% else %}
        <p style="color: red">Debes iniciar sesion para poder realizar una adopcion!</p>
        <a class="btn btn-primary disabled" href="#">Adoptar a {{mascotas.nombre}} </a>
        {% endif %}
      </div>
    </div>
</div>
<br>

{% endblock %}