{% extends 'blogapp/index.html' %}

{% block mascotas %}

    {% if mascotas %}

        {% for mascota in mascotas  %}

        <div class="col-md-4 mb-5; text-center">
            <div style="border-radius: 0.4em;
                        box-shadow: 0.3em 0.3em 0.7em #00000015;
                        transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        border: rgba(0, 0, 0, 0.655) 0.2em solid;" class="card h-100">
                <div class="card-body; text-center;">
                    <div class="card-title" >
                        <h2> {{mascota.nombre}} </h2>
                    </div>

                        {% if mascota.imagen %}

                            <img style="max-height: 300px;" class="img-fluid" src="{{ mascota.imagen.url }}">                     

                        {% else %}

                        <img src="https://via.placeholder.com/400x350">

                        {% endif %}
                </div>
                <br>
                <div class="card-footer">
                    <a class="btn btn-primary btn-lg" href=" {% url 'mostrar-mascota' mascota.id %} ">Mas info</a>
                </div>
                {% if mascota.user_id == usuarios.id  %}
                <div class="card-footer">
                    <a class="btn btn-succes btn-sm" href=" {% url 'editar-mascota' mascota.id %} ">Editar</a>
                </div>
                <div class="card-footer">
                    <a class="btn btn-succes btn-sm" href=" {% url 'eliminar-mascota' mascota.id %} ">Eliminar</a>
                </div>
                {% endif %}
            </div>
        </div>

        {% endfor %}
    {% else %}

    <div class="row gx-4 gx-lg-5 align-items-center my-5">

        <div class="text-center">

            <div class="text-center">

                <h5>No hay animales para adoptar!</h5>
                <br>
                <p>Ingrese en su perfil para poner un animalito en adopcion</p>
                
                <br>
            </div>

        </div>
    </div>

    {% endif %}

{% endblock %}