{% extends 'blogapp/base_sin_footer.html' %}

{% block contenido %}

<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>



<div class="card">

  {% if imagen_url %}

    <img src=" {{ imagen_url }} " style="width:100%">

    <h1 style="color:  rgb(66, 78, 246);;" class="h1 fw-light" > {{request.user.username}} </h1>
    <p class="title">Bienvenido a tu perfil</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>

    
        <div class="d-grid">
            <button><a href="{% url 'editar-foto' request.user.id %}">Editar foto</a> </button>
        </div>
        <br>
        <div class="d-grid">
          <button><a href=" {% url 'editar-username' request.user.id %} ">Editar username</a> </button>
        </div>
  
  {% else %}

    <img src="https://via.placeholder.com/400x350" style="width:100%">

    <h1 style="color:  rgb(66, 78, 246);;" class="h1 fw-light" > {{request.user.username}} </h1>
    <p class="title">Bienvenido a tu perfil</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>

    
        <div class="d-grid">
            <button><a href=" {% url 'agregar-foto' request.user.id %} ">Agregar foto</a> </button>
        </div>
        <br>
        <div class="d-grid">
          <button><a href=" {% url 'editar-username' request.user.id %} ">Editar username</a> </button>
        </div>
    
    {% endif %}
{% endblock %}